<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>微点餐</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/logo.png" type="images/logo.png">

    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/bootstrap.min.css"  />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/font-awesome.min.css" />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/ace.min.css" />
    <link rel="stylesheet" href="../ykcy_css/index.css" />
    <link rel="stylesheet" href="../ykcy_css/pagination.css"/>
    <script src="../../resources/config.js"></script>
</head>
<body>
<div class="navbar navbar-default" id="navbar">

    <headd></headd>

</div>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar" sonpage='cy_foodType'>

            <sidebar></sidebar>

        </div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">移动门店管理</a>
                    </li>
                    <li>
                        <a href="#">堂食菜谱</a>
                    </li>
                </ul><!-- .导航 -->
            </div>
            <div class="page-content">
                <div class="row ">
                    <div class="col-xs-12 mge_camp">
                        <div class="mge_camp_aup">
                            <a href="#" type="button" class="btn btn-success a_bottom" data-toggle="modal" data-target="#myModal_fen">新增分类</a>
                        </div>
                        <div class="mge_set">
                            <label for="text" class=" control-label">
                                <input type="text" placeholder="请输入分类名称" class="seachName"/>
                                <a class="btn btn-primary a_bottom" v-on:click="seach">搜索</a>
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table  class="table  table-bordered table-hover center table_all table_css">
                                <thead>
                                <tr>
                                    <th class="center">排序</th>
                                    <th class="center">分类名称</th>
                                    <th class="center">菜品数量</th>
                                    <th class="center">备注</th>
                                    <th class="center">创建时间</th>
                                    <th class="center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="selected" v-for="(item,index) in types">
                                    <td class="center">{{item.typesort}}</td>
                                    <td class="center">{{item.name}}</td>
                                    <td class="center">{{item.num}}</td>
                                    <td class="center">{{item.descript}}</td>
                                    <td class="center">{{item.createTime|data}}</td>
                                    <td class="center">
                                        <a href="#" class="" data-toggle="modal" data-target="#myModal_fen3" v-on:click="getTypeFoods(item.id)">菜品排序</a>&nbsp;
                                        <a href="#" class="" data-toggle="modal" data-target="#myModal_fen2" v-on:click="getthis(item.id)">编辑</a>&nbsp;
                                        <a href="#" class="" data-toggle="modal" data-target="#myModal_remove" v-on:click="getthis(item.id)">删除</a>&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right">
                        <vue-pagination :cur.sync="cur" :all.sync="all" v-on:btn-click="listen"></vue-pagination>
                    </div>
                </div>
            </div>
            <!--新增分类 start-->
            <div class="modal fade" id="myModal_fen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_rw" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel_rw">
                                新增分类
                            </h4>
                        </div>
                        <div class="modal-body center">
                            <div class="scroll_name">
                                <div class="">
                                    <label>
                                        <span class="lbl font_size">分类名称：</span>
                                        <input placeholder="最多五个字符" maxlength="5" class="addName" >
                                    </label>

                                </div>
                                <div class="" style="    margin-top: 18px;">
                                    <label>
                                        <span class="lbl font_size" style="margin-right: 27px;" >排序：</span>
                                        <input type="number" max="999" class="addTypesort" v-on:blur="getNum">
                                    </label>
                                </div>
                                <div class="" style="    margin-top: 18px;">
                                    <label>
                                        <span class="lbl font_size" style="margin-right: 27px;" >备注：</span>
                                        <input placeholder="" class="addDescript">
                                    </label>
                                </div>
                            </div>
                            <p style="    margin-top: 18px;">请在排序输入框内输入1-999数字，数字越大排名越靠前</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="" v-on:click="addFoodType()">
                                确定
                            </button>
                        </div>
                    </div>
                </div><!-- /.modal-dialog -->
            </div>
            <!--新增分类 end-->
            <!--编辑分类 start-->
            <div class="modal fade" id="myModal_fen2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_rw2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel_rw2">
                                编辑分类
                            </h4>
                        </div>
                        <div class="modal-body center">
                            <div class="scroll_name">
                                <div class="">
                                    <label>
                                        <span class="lbl font_size">分类名称：</span>
                                        <input  placeholder="最多五个字符" maxlength="5"  class="editName">
                                    </label>

                                </div>
                                <div class="" style="    margin-top: 18px;">
                                    <label>
                                        <span class="lbl font_size" style="margin-right: 27px;" >排序：</span>
                                        <input type="number" max="999" class="editTypesort" v-on:blur="getNum">
                                    </label>
                                </div>
                                <div class="" style="    margin-top: 18px;">
                                    <label>
                                        <span class="lbl font_size" style="margin-right: 27px;">备注：</span>
                                        <input placeholder="" class="editDescript">
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="" v-on:click="editFoodType()">
                                确定
                            </button>
                        </div>
                    </div>
                </div><!-- /.modal-dialog -->
            </div>
            <!--编辑分类 end-->
            <!--编辑分类 start-->
            <div class="modal fade" id="myModal_fen3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_rw2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel_rw3">
                                {{type.name}}
                            </h4>
                        </div>
                        <div class="modal-body center">
                            <p>请在排序输入框内输入1-999数字，数字越大排名越靠前</p>
                            <div class="scroll_name">
                                <table  class="table  table-bordered table-hover center table_all table_css">
                                    <thead>
                                    <tr>
                                        <th class="center">排序</th>
                                        <th class="center">名称</th>
                                        <th class="center">创建时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="selected" v-for="(item,index) in foods">
                                        <td class="center"><input v-model="item.attr1" max="999" min="1" type="number"></td>
                                        <td class="center">{{item.name}}</td>
                                        <td class="center">{{item.createTime|data}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="" v-on:click="editFoodSort()">
                                确定
                            </button>
                        </div>
                    </div>
                </div><!-- /.modal-dialog -->
            </div>
            <!--编辑分类 end-->
            <!--删除分类 start-->
            <div class="modal fade" id="myModal_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_remove" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel_remove">
                                删除分类
                            </h4>
                        </div>
                        <div class="modal-body center">
                            <h4>确认删除此分类吗？</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="" v-on:click="del()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <!--删除做法 end-->
        </div>
    </div><!-- /.main-container-inner -->
</div><!-- /.main-content -->
<!--置顶图标 start-->
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
<!--置顶图标 end-->

<script src="../ykcy_resources/ykcy_lib/jquery.min.js"></script>
<script src="../ykcy_resources/ykcy_lib/bootstrap.min.js"></script>
<script src="../ykcy_resources/ykcy_lib/ace.min.js"></script>
<script src="../../resources/common/lib/vue.min.js"></script>
<script src="../../resources/common/lib/vue-resource.min.js"></script>
<script src="../../resources/common/lib/vue-router.min.js"></script>
<script src="../ykcy_js/const.js"></script>
<script src="../ykcy_js/pagination.js"></script>
<!--[if lt IE 9]>
<script src="../../js/html5shiv.js"></script>
<script src="../../js/respond.min.js"></script>
<![endif]-->
<script src="../ykcy_js/cy_foodType.js"></script>
</body>
</html>
