<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>微点餐</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/logo.png" type="images/logo.png">

    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/bootstrap.min.css"  />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/font-awesome.min.css" />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/ace.min.css" />
    <link rel="stylesheet" href="../ykcy_css/index.css" />
    <link rel="stylesheet" href="../ykcy_css/pagination.css" />
    <link rel="stylesheet" href="../../resources/plugins/msgbox/msgbox.css">
    <script src="../../resources/config.js"></script>
    <script src="../../resources/plugins/msgbox/msgUtil.js"></script>
    <script src="../../resources/plugins/msgbox/msgbox.js"></script>
</head>
<body>
<div class="navbar navbar-default" id="navbar">

    <headd></headd>

</div>
<div class="main-container" id="main-container" v-cloak>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" >
            <span class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar" sonpage="eatIn">

            <sidebar></sidebar>

        </div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a >订单管理</a>
                    </li>
                    <li>
                        <a >堂食订单</a>
                    </li>
                </ul><!-- .导航 -->
            </div>
            <div class="page-content">
                <div class="row ">
                    <div class="col-xs-12 order_list">
                        <div class="order_time">
                            <div class="order_showAll">
                                <div class="order_show">
                                    <label class="voucher_time">时段选择：
                                        <input class="form_datetime" id="wei_datetime2" type="date" v-model="param.startTime">
                                        &nbsp;至&nbsp;
                                        <input class="form_datetime" id="wei_datetime3" type="date" v-model="param.endTime">
                                    </label>
                                </div>
                            </div>
                            <!--<div class="order_bo">
                                <a  class="order_today order_list_activ" v-on:click="timeChange(1,$event)">今</a>
                                <a  class="order_today2" v-on:click="timeChange(2,$event)">昨</a>
                                <a  class="order_today3" v-on:click="timeChange(3,$event)">周</a>
                                <a  class="order_today4" v-on:click="timeChange(4,$event)">月</a>
                            </div>-->
                        </div>
                        <div class="col-xs-12 col-sm-12 mge_set">
                            <label for="text" class=" control-label  ">订单类型：
                                <select size="1" name="sample-table-2_orderType" aria-controls="sample-table-2" @change="getList()" v-model="param.type">
                                    <option value="">全部</option>
                                    <option value="TSBUFFER">堂食扫码</option>
                                    <option value="TSORDER">堂食点餐</option>
                                    <option value="TSAPPOINTMENT">堂食预约</option>
                                    <!--TradeTypeCodeEnum-->
                                </select>
                            </label>
                            <label for="text" class=" control-label  ">付款方式：
                                <select size="1" name="sample-table-2_payType" aria-controls="sample-table-2" @change="getList()" v-model="param.payType">
                                    <option value="">全部</option>
                                    <option value="微信支付">微信支付</option>
                                    <option value="余额支付">储值余额支付</option>
                                </select>
                            </label>
                            <label for="text" class=" control-label  ">
                                <input type="text" placeholder="请输入订单号" v-model="param.orderNo"/>
                                <a class="btn btn-info a_bottom" @click="cur = 1;getList()">搜索</a>
                            </label>
                        </div>
                        <div class="add_state0" style="  margin-top: 92px;border-top: 1px solid #ddd;  border-bottom: 1px solid #ddd; margin-bottom: 14px;">
                            <label class="add_state_1">订单状态：
                                <a :class="param.status == 'all' ? 'red' : ''" @click="changRed('all')">全部({{countInfo.num0}})</a>
                                <a :class="param.status == 'NONPAYMENT' ? 'red' : ''" @click="changRed('NONPAYMENT')">待付款({{countInfo.num1}})</a>
                                <a :class="param.status == 'NONRECEIVEORDER' ? 'red' : ''" @click="changRed('NONRECEIVEORDER')">待接单({{countInfo.num2}})</a>
                                <a :class="param.status == 'HASDONE' ? 'red' : ''" @click="changRed('HASDONE')">已完成({{countInfo.num3}})</a>
                                <a :class="param.status == 'HASCLOSED' ? 'red' : ''" @click="changRed('HASCLOSED')">已关闭({{countInfo.num4}})</a>
                                <a :class="param.status == 'CANCEL' ? 'red' : ''" @click="changRed('CANCEL')">已取消({{countInfo.num5}})</a>
                                <!-- <a  class="" value="all">售后中(5)</a>-->
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table  class="table  table-bordered table-hover center table_all table_css">
                                <thead>
                                <tr>
                                    <th class="center">订单号</th>
                                    <th class="hidden-480 center">订单金额</th>
                                    <th class="hidden-480 center">顾客</th>
                                    <th class="hidden-480 center">桌号</th>
                                    <th class="hidden-480 center">开单时间</th>
                                    <th class="hidden-480 center">订单状态</th>
                                    <th class="hidden-480 center">订单类型</th>
                                    <th class="hidden-480 center">付款方式</th>
                                    <th class="hidden-480 center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="selected" v-for="item in list">
                                    <td class="hidden-480 center">{{item.orderNO}}</td>
                                    <td class="center">{{(item.payTotal*0.01).toFixed(2)}}</td>
                                    <td class="center">{{item.userName}}</td>
                                    <td class="center">{{item.orderName}}</td>
                                    <td class="center">{{item.createDate | formartTime}}</td>
                                    <td class="center">{{item.status | orderStatus}}</td>
                                    <td class="center">{{item.sonOrder.cyType | orderType}}</td>
                                    <td class="center">{{item.orderInfo}}</td>
                                    <td class="center"><a :href="'eatInOrderDetail.html?shopId=' + shopId + '&orderId=' + item.id">详情</a></td>
                                </tr>

                                <!-- <tr class="selected">
                                     <td class="hidden-480 center">林冲12387954875</td>
                                     <td class="center">54.00</td>

                                     <td class="center">2016/06/12&nbsp;15:30</td>
                                     <td class="center"><span class="label label-info">待发货</span></td>
                                     <td class="center">外卖自提</td>
                                     <td class="center">微信公众号</td>
                                     <td class="center">微信支付</td>
                                     <td class="center"><a href="order_xiang2.html">详情</a></td>
                                 </tr>
                                 <tr class="selected">
                                     <td class="hidden-480 center">小市12387954875</td>
                                     <td class="center">25.00</td>

                                     <td class="center">2016/06/12&nbsp;15:30</td>
                                     <td class="center"><span class="label label-success">已完成</span></td>
                                     <td class="center">外卖配送</td>
                                     <td class="center">微信公众号</td>
                                     <td class="center">微信支付</td>
                                     <td class="center"><a href="order_xiang2.html">详情</a></td>
                                 </tr>-->
                                </tbody>
                            </table>
                        </div>
                        <div class="media p_cssA">
                            <!--//<p class="pull-left p_css">共<span>{{count}}</span>条记录,第<span>1/{{page}}</span>页</p>-->
                            <div class="pull-right">
                                <vue-pagination :cur.sync="cur" :all.sync="all" v-on:btn-click="listen"></vue-pagination>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div><!-- /.main-container-inner -->
</div><!-- /.main-content -->
<!--置顶图标 start-->
<a  id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
<!--置顶图标 end-->
<script src="../ykcy_resources/ykcy_lib/jquery.min.js"></script>
<script src="../ykcy_resources/ykcy_lib/bootstrap.min.js"></script>
<script src="../ykcy_resources/ykcy_lib/ace.min.js"></script>

<script src="../ykcy_js/tubiao.js"></script>
<script src="../ykcy_resources/ykcy_lib/highcharts.js"></script>
<script src="../../resources/common/lib/vue.min.js"></script>
<script src="../../resources/common/lib/vue-resource.min.js"></script>
<script src="../../resources/common/lib/vue-router.min.js"></script>
<script src="../ykcy_js/const.js"></script>
<script src="../ykcy_js/pagination.js"></script>
<script src="../ykcy_js/eatIn.js"></script>
</body>
</html>
