.server_mall i {
  font-style: normal; }
.server_mall .link_nav {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc; }
.server_mall .listData_box h3.list_data_title {
  height: 45px;
  line-height: 45px;
  margin-bottom: 5px;
  color: #7a7a7a;
  font-size: 14px; }
.server_mall .listData_list {
  width: 435px;
  float: left;
  padding: 8px 27px 8px 10px;
  box-sizing: border-box;
  border: 1px solid #DCDCDC;
  margin-bottom: 20px; }
.server_mall .listData_list:nth-child(2n+1) {
  float: right; }
.server_mall .listData_ico {
  width: 65px;
  height: 65px;
  margin: 5px;
  border-radius: 50px;
  overflow: hidden; }
.server_mall .listData_list_r {
  width: 295px; }
.server_mall .listData_ico img {
  width: 100%;
  height: 100%; }
.server_mall .listData_title {
  margin-bottom: 5px;
  font-size: 14px; }
.server_mall .listData_title .price {
  float: right;
  font-size: 12px;
  color: #7A7A7A; }
.server_mall em {
  font-style: normal; }
.server_mall .listData_message_l {
  width: 175px;
  color: #909090; }
.server_mall .listData_message_l p{
  overflow: hidden;
  text-overflow: ellipsis;
}
.server_mall .listData_message_r {
  width: 68px;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  font-size: 14px;
  font-weight: bolder;
  background: url(../ykyf_images/morebg.png) no-repeat right center/auto 16px; }
.server_mall .back_nav {
  padding: 10px 0;
  font-size: 14px;
  color: #000; }
.server_mall .content_solid {
  display: flex;
  border: 1px solid #ccc;
  padding: 15px 35px;
  margin-bottom: 20px;
  font-size: 14px; }
.server_mall .clasla_t_l {
  min-width: 216px; }
.server_mall .content_solid_l {
  width: 170px;
  box-sizing: border-box;
  line-height: 30px;
  color: #1a1a1a; }
.server_mall .clasla_t_l dl {
  display: flex;
  align-content: center;
  border-right: 1px solid #999; }
.server_mall .vip_ico {
  width: 100px;
  height: 100px;
  margin-bottom: 22px; }
.server_mall .clasla_t_l dl dd {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px; }
.server_mall .clasla_t_c {
  margin-left: 30px; }
.server_mall .content_solid_r {
  width: calc(100% - 170px);
  box-sizing: border-box; }
.server_mall .content_solid_r .title {
  font-weight: bold;
  font-size: 14px; }
.server_mall .content_solid_main .title {
  font-weight: bold;
  font-size: 14px; }
.server_mall .title {
  margin: 8px 0px 5px 0px; }
.server_mall .content_solid_r .deadline {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap; }
.server_mall .content_solid_r .deadline span {
  padding: 0px 15px;
  background: #fff;
  border: 1px solid #04b0f7;
  color: #04b0f7;
  margin: 0 10px;
  border-radius: 3px;
  cursor: pointer; }
.server_mall .content_solid_r .deadline span.on {
  background: #04b0f7;
  border: 1px solid #04b0f7;
  color: #fff; }
.server_mall .content_solid_main p {
  margin-bottom: 0px;
  width: 817px;
  height: 48px;
  line-height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 20px; }
.server_mall .content_solid_main p span:nth-of-type(1) {
  display: inline-block;
   }
.server_mall .spr {
  margin-left: 20px; }
.server_mall .content_solid_main p b {
  display: inline-block;
  width: 26px;
  border-top: 1px solid #000;
  vertical-align: middle; }
.server_mall #popup_k_2 .popup_main {
  padding: 30px 30px 50px;
  overflow: auto;
  box-sizing: border-box; }
.server_mall #popup_k_2 .popup_main table {
  width: 580px;
  font-size: 14px;
  color: #5c5c5c; }
.server_mall #popup_k_2 .popup_main tr td:first-child {
  text-align: right; }
.server_mall #popup_k_2 .popup_main td {
  padding: 12px; }
.server_mall #popup_k_3 {
  width: 500px; }
  .server_mall #popup_k_3 .red {
    color: red;
    margin-left: 8px; }
  .server_mall #popup_k_3 .pay_ye {
    margin-top: 30px;
    margin-bottom: 60px; }
  .server_mall #popup_k_3 .pay_ye p {
    text-align: center;
    height: 40px;
    line-height: 40px; }
.server_mall #popup_k_4 {
  width: 600px; }
  .server_mall #popup_k_4 b {
    font-weight: 100; }
  .server_mall #popup_k_4 .popup_main {
    box-sizing: border-box;
    padding: 20px;  }
  .server_mall #popup_k_4 .wd70 {
    display: inline-block;
    width: 70px; }
  .server_mall #popup_k_4 .shouldPay {
    display: inline-block;
    padding: 4px 20px;
    border: 1px solid #e5e5e5; }
  .server_mall #popup_k_4 .tishi {
    text-align: center;
    color: red;
    margin-top: 60px; }

/*# sourceMappingURL=server_mall.css.map */
