<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>优惠券</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/logo.png" type="img/logo.png">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/ace.min.css" />
    <link rel="stylesheet" href="../js/boot/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../coupon_common/msgbox/msgbox.css">
    <link rel="stylesheet" href="../css/pagination.css" />
    <script src="../coupon_common/msgbox/msgUtil.js"></script>
    <script src="../coupon_common/msgbox/msgbox.js"></script>
    <script src="../../resources/config.js"></script>

    <script>
    </script>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../css/ace-ie.min.css" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->

    <style>

    </style>
</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <div id="head">
        <headd></headd>
    </div>
</div>
<div class="main-container" id="main-container"  v-cloak>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="index.html" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text"> 首页 </span>
                    </a>
                </li>
                <li class="active">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-columns"></i>
                        <span class="menu-text"> 代金券 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li  class="active">
                            <a href="Voucher_list.html">
                                <i class="icon-double-angle-right"></i>
                                券列表
                            </a>
                        </li>

                        <li>
                            <a href="../html/Voucher_record.html">
                                <i class="icon-double-angle-right"></i>
                                领用记录
                            </a>
                        </li>
                    </ul>
                </li>
                <li  class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-columns"></i>
                        <span class="menu-text">券海报</span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="../html/channel_management.html">
                                <i class="icon-double-angle-right"></i>
                                海报列表
                            </a>
                        </li>
                        <li class="">
                            <a href="../html/channel_temp.html">
                                <i class="icon-double-angle-right"></i>
                                海报模板
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->
        </div>
        <div class="main-content" >
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">优惠券</a>
                    </li>
                    <li>
                        <a href="#">券列表</a>
                    </li>
                </ul><!-- .导航 -->
            </div>
            <div class="page-content">
                <div class="row voucher_list" >
                    <p class="create">
                        <a href="Voucher_create.html" class=" btn btn-success">新建优惠券</a>
                    </p>
                    <div class="create_list">
                        <label class="">推广状态：
                            <select name="sample-table-2_length" aria-controls="sample-table-2" size="1">
                                <option value="">全部</option>
                                <option value=0>未推广</option>
                                <option value=1>推广中</option>
                            </select>
                        </label>
                        <span>
                             <input type="text" id="couponsName" placeholder="请输入券名称">
                            <a href="#" class="btn btn-primary find_a" v-on:click="getPageInfo">查找</a>
                        </span>
                    </div>
                    <div class="add_state ">
                        <label class="add_state_1">有效期状态：
                            <a href="#" class="red" value="" v-on:click="getCouponsList">全部({{countInfo.allCount}})</a>
                            <a href="#" value="2" v-on:click="getCouponsList(2,1,10)">未开始({{countInfo.unstartCount}})</a>
                            <a href="#" value="0" v-on:click="getCouponsList(0,1,10)">进行中({{countInfo.startCount}})</a>
                            <a href="#" value="1" v-on:click="getCouponsList(1,1,10)">已失效({{countInfo.invalidCount}})</a>
                        </label>
                    </div>
                    <div class=" table-responsive">
                        <table class="table  table-bordered table-hover center tbShow">
                            <thead>
                            <tr>
                                <th class="center">券名称</th>
                                <th class="center">使用/领取/总量</th>
                                <th class="center">有效时间</th>
                                <th class="center">推广</th>
                                <th class="center">同步设置</th>
                                <th class="center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="selected" v-for="item in couponsList">
                                <td class="center " style=" vertical-align: middle;">
                                    <div class="table_cDiv">
                                        <p class="table_cDiv_height">
                                            <span>
                                                ￥<span class="table_cDiv_1">{{item.vouchers}}</span>
                                            </span>
                                            <span class="table_cDiv_2" v-if="item.lowestConsume!=0">{{item.lowestConsume}}元可用</span>
                                            <span class="table_cDiv_2" v-if="item.lowestConsume==0">无限制</span>
                                        </p>
                                        <div class="table_cDiv_bottom">
                                            <p class="table_cDiv_bottom_1">{{item.couponsName}}</p>
                                            <p class="table_cDiv_bottom_3">
                                                <span class="label label-warning">({{item.statu}}）</span>
                                                <span  data-toggle="modal" v-if="item.couponsStatu == 0 && item.statu!='已过期'" data-target="#myModal_failure" v-on:click="getCoupons(item.id)">使失效</span>
                                                <span  data-toggle="modal" v-if="item.couponsStatu == 1 || item.statu=='已过期'"  >已失效</span>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="hidden-480 center table_css" >{{item.useCount}}/{{item.receiveCount}}/{{item.allCount}}
                                    <p style="margin-top: -12px;cursor: pointer;color:#428bca"   data-toggle="modal" data-target="#myModal_amount" v-on:click="getCoupons(item.id)">券量</p></td>
                                <td class="hidden-480 center"style="vertical-align: middle!important;">
                                    <p class="table_date">{{item.startDate}}-{{item.endDate}}</p>
                                    <div class="table_time">
                                        <p class="">{{item.useWeekDays}}</p>
                                        <p class="">{{item.periodTime}}</p>
                                    </div>
                                </td>
                                <td class="hidden-480 center table_css">
                                    <span class="label label-warning">{{item.publishStatu1}}</span>
                                    <div class="advance" style="display: flex;justify-content: space-around;">
                                        <p style="cursor: pointer;color:#428bca" v-if="item.publishStatu == 1" data-toggle="modal" data-target="#myModal_stop" v-on:click="getCoupons(item.id)">停止</p>

                                        <p style="cursor: pointer;color:#428bca" v-if="item.publishStatu == 2" data-toggle="modal" >已结束</p>

                                        <p style="cursor: pointer;color:#428bca" v-if="item.publishStatu == 0" data-toggle="modal" data-target="#myModal_generalize" v-on:click="getBamount(item.id)">推广</p>

                                        <!--<a href="promoting_report.html" v-if="item.publishStatu == 1 " style="text-decoration: none;">报表</a>

                                        <a href="promoting_report.html" v-if=" item.publishStatu == 2" style="text-decoration: none;">报表</a>-->
                                    </div>
                                </td>
                                <td class="hidden-480 center table_css" v-if="item.isSyncWeChat == 'true' && item.isPassWx==1">
                                    <p data-toggle="modal" data-target="#myModal_delivery" ><span class="icon-ok-circle" style="color: #82af6f;font-size: 17px;cursor: pointer">  微信</span></p>
                                </td>
                                <td class="hidden-480 center table_css" v-else-if="item.isSyncWeChat == 'true' && item.isPassWx==3">
                                    <p data-toggle="modal" data-target="" ><span class="icon-ok-circle" style="color: #82af6f;font-size: 17px;cursor: pointer">微信审核中</span></p>
                                </td>
                                <td class="hidden-480 center table_css" v-else-if="item.isSyncWeChat == 'true' && item.isPassWx==2">
                                    <p data-toggle="modal" data-target="myModal_syncFailure"><span class="icon-ok-circle" style="color: #82af6f;font-size: 17px;cursor: pointer">微信审核失败</span></p>
                                </td>

                                <td class="hidden-480 center table_css" v-else >
                                    <a v-bind:href="'Voucher_bj.html?couponsId='+item.id" class="" style="text-decoration: none"><span class="icon-circle-blank" style="color:#abbac3;font-size: 17px;cursor: pointer">  微信</span></a>
                                </td>

                                <td class="hidden-480 center table_css">
                                    <a class="" :href="'Voucher_details.html?couponsId='+item.id">详情</a>&nbsp;&nbsp;
                                    <a class="" href="#" data-toggle="modal" data-target="#myModal_copy" v-on:click="getCoupons(item.id)">复制</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="media p_cssA">
                    <!--//<p class="pull-left p_css">共<span>{{count}}</span>条记录,第<span>1/{{page}}</span>页</p>-->
                    <div class="pull-right">
                        <vue-pagination :cur.sync="cur" :all.sync="all" v-on:btn-click="listen"></vue-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.main-container-inner -->

    <div class="modal" id="myModal_syncFailure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_failure" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >同步失败</h4>
                </div>
                <div class="modal-body center" >
                    <p style="font-size: 17px;color: #666;">你当前绑定的微信公众是 天湘府 </p>
                    <div class=" center">
                        <p style="margin-top: 35px;">失败原因:<span style="color:#666"></span></p>
                        <p style="margin-top: 32px;font-size: 15px;color: #999;">是否再次同步？</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--同步失败 end-->

    <!--微信投放 start-->
    <div class="modal" id="myModal_delivery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_failure" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >微信投放</h4>
                </div>
                <div class="modal-body center" >
                    <p style="font-size: 17px;color: #666;">你当前绑定的微信公众是 天湘府 </p>
                    <div class="voucher_modal_1 center">
                        <label class="" style="    margin-left: -42px;">
                            <input name="form-field-radio" class="ace " type="radio">
                            <span class="lbl">直接群发</span>
                        </label><br/>
                        <label class="">
                            <input name="form-field-radio" class="ace " type="radio">
                            <span class="lbl">嵌入到图文消息</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--微信投放 end-->

    <!--失效 start-->
    <div class="modal" id="myModal_failure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_failure" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >券失效</h4>
                </div>
                <div class="modal-body" >
                    <div class="voucher_modal_1 center">
                        <P>券名称:<span>{{couponsInfo.couponsName}}</span></P>
                        <P v-if="couponsInfo.couponsType==0">券类型:<span >代金券</span></P>
                        <P v-if="couponsInfo.couponsType==1">券类型:<span >折扣券</span></P>
                        <P>确定失效此优惠券吗？</P>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" v-on:click="loseEfficacy(couponsInfo.id)">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--失效 end-->

    <!--停止 start-->
    <div class="modal" id="myModal_stop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_failure" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >停止推广</h4>
                </div>
                <div class="modal-body" >
                    <div class="voucher_modal_1 center">
                        <P>券名称:<span>{{couponsInfo.couponsName}}</span></P>
                        <P v-if="couponsInfo.couponsType==0">券类型:<span >代金券</span></P>
                        <P v-if="couponsInfo.couponsType==1">券类型:<span >折扣券</span></P>
                        <P>确定停止推广此优惠券吗？</P>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" v-on:click="stopPublish(couponsInfo.id)">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--停止 end-->

    <!--复制 start-->
    <div class="modal" id="myModal_copy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_failure" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >优惠券复制</h4>
                </div>
                <div class="modal-body" >
                    <div class="voucher_modal_1 center">
                        <div style=" display: flex;justify-content: flex-start;margin-left: 76px;">
                            <p style="margin-right:-54px;margin-top: 4px;">券名称:</p>
                            <div class="modal_input">
                                <input type="text" id="newCouponsName" v-bind:value="couponsInfo.couponsName"/>
                                <p style="margin-left: 67px;color: #999;">为了方便识识别，建议重新输入券名称</p>
                            </div>
                        </div>
                        <div class="voucher_time"  style="display: flex;justify-content: center;margin-left: 18px;">
                            <p style="margin-top: 4px;margin-right: 17px;">有效期:</p>
                            <input class="form_datetime" id="newStartDate" readonly type="text" id="wei_datetime" value="">
                            &nbsp;-&nbsp;
                            <input class="form_datetime" id="newEndDate" readonly type="text" id="wei_datetime1" value="">
                        </div>
                        <P>确定复制此优惠券吗？</P>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" v-on:click="copyCoupons(couponsInfo.id)">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--复制 end-->

    <!--券量 start-->
    <div class="modal" id="myModal_amount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_amount" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >券量</h4>
                </div>
                <div class="modal-body" >
                    <div  class="voucher_modal_2 ">
                        <div class="voucher_Mleft left">
                            <p>{{couponsInfo.couponsName}}</p>
                            <div class="voucher_Mleft_son">
                                <p>券总量:<span>{{couponsInfo.countNum}}</span></p>
                                <p>库存:<span>{{couponsInfo.countNum-couponsInfo.receiveNum}}</span></p>
                            </div>
                        </div>
                        <div class="voucher_Mright">
                            <div class="voucher_Mright_son">
                                <label class="ace_2">
                                    <input name="form-field-radio-changeCount" class="ace" value="0" type="radio" checked="checked">
                                    <span class="lbl">增加</span>
                                </label>
                                <label class="ace_2">
                                    <input name="form-field-radio-changeCount" class="ace" value="1" type="radio">
                                    <span class="lbl">减少</span>
                                </label>
                            </div>
                            <div class="voucher_Mright_son2">
                                <label class="ace_2">
                                    <input  class="ace" type="text" checked="checked" id="numchangeNum" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">&nbsp;份
                                    <p>库存不能少于1</p>
                                </label>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="changeCount(couponsInfo.id)">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--券量 end-->

    <!--券推广 start-->
    <div class="modal" id="myModal_generalize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_failure" aria-hidden="true">
        <div class="modal-dialog" style="    width: 739px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >券推广</h4>
                </div>
                <div class="modal-body " >
                    <div class="temp_newxj_title media" style="padding: 9px 12px;margin-top: -14px;margin-bottom: 12px;background: #e0eaf6; text-align: left">
                        <p style="display: inline-block; margin-bottom: 0;color: #666;">确认推广后，将会在 <span style="color: #428bca;">易快云服-发现-优惠券</span> 里出现</p>
                    </div>
                    <div class="recommended">
                        <p>请输入您的优惠券推荐语</p>
                        <textarea cols="50" rows="4" style="resize: none" id="recommendedLanguage"></textarea>
                    </div>
                    <div class="low_1">
                        <p class="low_pp">佣金类型:</p>
                        <div class="low_2">
                            <label class="acboe">
                                <input name="form-field-radio11" class="ace" value=0 type="radio" checked="checked">
                                <span class="lbl">按领取人数</span>
                            </label>
                            <label class="acboe">
                                <input name="form-field-radio11" class="ace" value=1 type="radio">
                                <span class="lbl">按核销次数</span>
                            </label>
                        </div>
                    </div>
                    <div class="vouchers_card" style="">
                        <div class="  col-sm-3  vouchers_card_1" style="    margin-right: 12px;">
                            <div class="reco col-sm-12 ">
                                <div class="voucher_set2">
                                    <p class="yjge">佣金规则</p>
                                    <hr class="yjge_hr">
                                    <label for="text">
                                        <input type="number" style="width: 120px;" id="publishMoney"  onkeyup="value=value.replace(/[^\-?\d.]/g,'') " ng-pattern="/[^a-zA-Z]/">&nbsp;元/每次<span class="draw_1">领取</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="  col-sm-3 mem_top vouchers_card_1">
                            <div class="reco col-sm-12 ">
                                <div class="voucher_set2 ">
                                    <div class="media" style="    margin-bottom: -12px;">
                                        <p class="yjge pull-left">推广预算</p>
                                        <p class="yjge pull-right" style="color: red;">可用余额：<b id="bamount">{{bamount}}</b>元&nbsp;&nbsp;&nbsp;<!--<a href="#" class="">&lt;!&ndash;充值&gt;&ndash;&gt;</a>--></p>
                                    </div>

                                    <hr class="yjge_hr">
                                    <label for="text">推广数量：
                                        <input type="number" style="width: 120px;" id="publishCount" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">&nbsp;张
                                    </label>
                                    <p class="reco_p">佣金预算：<span>￥<b id="publishBudget">0</b></span></p>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" v-on:click="publishOk">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div><!-- /.main-content -->
<!--footer s-->
<div class="page-footer footer_scroll" style=" ">
    <div class="content_based" style=" ">
        <a id="toMiitbeian" href="javascript:void(0)" style="">
            <p style=" ">
                <img src="../img/logo_new2.png" alt="" width="25" style="   ">
                <img src="../img/name.png" alt="" width="71"></p>
        </a>
    </div>
</div>
<!--footer e-->
<!--置顶图标 start-->
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
<!--置顶图标 end-->
<!--.main-container-->

<!--同步失败 start-->

<!--券推广 end-->
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/ace.min.js"></script>
<script src="../js/ace-extra.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/boot/bootstrap-datetimepicker.js"></script>
<script src="../js/boot/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../js/flot/jquery.flot.min.js"></script>
<script src="../js/public.js"></script>
<script src="../js/time.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/vue-resource.min.js"></script>
<script src="../js/const.js"></script>
<script src="../js/pagination.js"></script>
<script src="../js/ywjs/Voucher_list.js"></script>

</body>
</html>
