<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的服务</title>
    <link rel="shortcut icon" href="../../resources/common/images/yklogo.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="../../resources/common/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="resources/common/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="../../resources/plugins/msgbox/msgbox.css">
    <link rel="stylesheet" href="../../resources/common/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../ykyf_css/common.css">
    <link rel="stylesheet" href="../ykyf_css/server_my.css">
    <script src="../../resources/plugins/msgbox/msgUtil.js"></script>
    <script src="../../resources/plugins/msgbox/msgbox.js"></script>
    <script src="../../resources/config.js"></script>
</head>
<body>
<div id="wrap" class="server_my">
    <div id="head">
        <headd></headd>
    </div>
    <div class="main main_box" id="indApp">
        <div class="content_based clear_fix">
            <!--
            左边导航换成HTML
             -->
            <div class="side_left float_l" id="leftNav" sonpage="nav_server">
                <!-- <leftban></leftban>-->
<!--                <h3 class="slide_title slide_titles list_index leftTiT "><a href="index_new.html">首页</a></h3>
                <h3 class="slide_title slide_titles list_serve leftTiT">功能与服务</h3>
                <ul class="slide_main">
                    <li class="on leftTiT selected"><a href="javascript:;">我的服务</a></li>
                    <li class="on leftTiT"><a href="javascript:;">服务商城</a></li>
                </ul>
                <h3 class="slide_title slide_titles list_facility">设备管理</h3>
                <ul class="slide_main">
                    <li class="on leftTiT"><a href="javascript:;">我的设备</a></li>
                    <li class="on leftTiT"><a href="#">设备商城</a></li>
                </ul>
                <h3 class="slide_title slide_titles list_account">我的帐户</h3>
                <ul class="slide_main">
                    <li class="on leftTiT"><a href="javascript:;">帐户总览</a></li>
                    <li class="on leftTiT"><a href="javascript:;">交易记录</a></li>
                </ul>
                <h3 class="slide_title slide_titles list_set leftTiT">设置</h3>
                <ul class="slide_main">
                    <li class="on leftTiT"><a href="merchant_set.html">商家设置</a></li>
                    <li class="on leftTiT"><a href="javascript:;">系统设置</a></li>
                    <li class="on leftTiT"><a href="javascript:;">门店管理</a></li>
                </ul>
                <h3 class="slide_title slide_titles list_message leftTiT">我的消息</h3>-->
            </div>

            <div class="main_content float_r">
                <div class="clear_fix server_my" id="server_my">
                    <div class="link_nav"><b>我的服务</b></div>
                    <div class="listData_box">
                        <h3 class="list_data_title">基础服务</h3>
                        <div style="display: flex;flex-wrap: wrap;" >
                            <div v-for="bItem in baseServers">
                                <a href="javascript:;" target="_blank" >
                                    <div class="listData_list" v-on:click="goto(bItem)">
                                        <div class="listData_ico float_l">
                                            <input class="easyFind" type="hidden" value="1" name="1" id="1">
                                            <img v-bind:src="bItem.bServerImg" alt="">
                                        </div>
                                        <div class="float_r listData_list_r">
                                            <b>{{bItem.bServerName}}</b>
                                            <p>有效日期:<span>{{bItem.bServerTime}}</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="listData_box">
                        <h3 class="list_data_title">增值服务</h3>
                        <div style="display: flex;flex-wrap: wrap;">
                            <div v-for="bItem in addServers">
                                <a href="javascript:;" target="_blank" >
                                    <div class="listData_list" v-on:click="goto(bItem)">
                                        <div class="listData_ico float_l">
                                            <img v-bind:src="bItem.bServerImg" alt="">
                                        </div>
                                        <div class="float_r listData_list_r">
                                            <b>{{bItem.bServerName}}</b>
                                            <p>有效日期:<span>{{bItem.bServerTime}}</span></p>
                                        </div>
                                        <span v-if="bItem.isOverTime" style="position:absolute;right:10px;color: #999;">已过期</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div v-if="addServers.length==0">
                        <p>您还没有任何增值服务，您可以添加增值服务让你的店铺更智能，提高效益。<a href="server_mall.html"  style="color:blue;">去开通</a></p>
                    </div>

                    <div class="popup_bg" style="display: none;"></div>
                    <div class="popup" id="popup_k_2" style="left: 40%; top: 33%;">
                        <div class="popup_top" style="cursor: move;" >
                            <span class="popup_close" onclick="hide_popup('#popup_k_2')"></span>
                            <b class="popup_title">温馨提示：</b>
                        </div>
                        <div class="popup_main" style="display: flex; justify-content: center; height: 139px;">
                            <p style="margin:60px;" pid="14" id="goToserviceId">您的服务已经到期，是否继续该服务？</p>
                        </div>
                        <div class="popup_bottom align_center">
                            <input type="submit" value="是" class="nextBtn" v-on:click="gotoBuy">
                            <input type="reset" value="否" onclick="hide_popup('#popup_k_2')">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="foot">
        <foot></foot>
    </div>
</div>

<script src="../../resources/common/lib/jquery.min.js"></script>
<script src="../../resources/common/lib/vue.min.js"></script>
<script src="../../resources/common/lib/vue-resource.min.js"></script>
<script src="../ykyf_js/const.js"></script>
<script src="../ykyf_js/server_my.js"></script>
<script src="../ykyf_js/tool.js"></script>

<script>
    leftBan();
</script>
</body>
</html>