<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易快首页</title>
    <link rel="shortcut icon" href="../resources/common/images/yklogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../resources/common/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../resources/common/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../resources/plugins/msgbox/msgbox.css">
    <!-- <link rel="stylesheet" href="css/jquery-ui.min.css" />-->
    <!--  <link rel="stylesheet" href="css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="ykyf_css/yf_index.css" />
    <script src="../resources/config.js"></script>
    <script src="../resources/common/lib/jquery.min.js"></script>
    <script src="../resources/common/lib/bootstrap.min.js"></script>
    <script src="../resources/plugins/msgbox/msgUtil.js"></script>
    <script src="../resources/plugins/msgbox/msgbox.js"></script>
    <script src="../resources/common/lib/vue.min.js"></script>
    <script src="../resources/common/lib/vue-resource.min.js"></script>

</head>
<body>
<!--header s-->
<div class=" col-lg-12 col-sm-12 col-md-12" style="border-bottom: 1px solid #ddd;">
    <div class="container  index_header" style="border-bottom:0;">
        <div class="index_left navbar-left">
            <a href="../yf_index.html" style="    display: flex;text-decoration: none">
                <img src="../resources/common/images/logo.png" alt="" class="img-responsive logo_img">
                <div class="logo_message">
                    <p class="logo_p">易快智能云服务平台</p>
                </div>
            </a>
        </div>
        <div class="navbar-right">
            <div class="header_right">
                <a href="console_login.html">控制台</a>
                <a href="yf_login.html">登录</a>
                <a href="yf_registered.html" class="" >注册</a>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<!--header e-->
<div class="container login">
    <div class="row">
            <!--忘记密码 s-->
            <div class="forget_password" id="forgetyfPwd" >
                <p style="text-align: center;font-size: 18px;border-bottom: 1px solid #ddd; padding-bottom: 7px;margin-bottom: 24px;color: #666;">忘记密码</p>
                <div class="form-group login_css ">
                    <label for="exampleInputName" class="col-sm-3 login_label">手机号码：</label>
                    <input type="number" class="form-control col-sm-7 login_input phoneNumber" v-model="foPhone" id="exampleInputName" placeholder="请输入手机号">
                    <span class="login_po login_po1" style="right:-175px"></span>
                </div>
                <div class="form-group login_css" style=" justify-content: flex-start;margin-left: 110px;">
                    <input type="text" class="form-control verify" placeholder="" v-model="fovaliCode" style="height: 36px;border-radius: 0;width: 160px;margin-right: 12px;">
                    <img src="../resources/common/images/u17.png" v-on:click="getvaliCode" alt="" style="height: 36px;width:96px;" class="valiImg2">
                    <span class="login_po login_po3" style="right: -75px;"></span>
                </div>
                <div class="form-group login_css ">
                    <label for="forgetPwd_verifyCode" class="col-sm-3 login_label">短信验证：</label>
                    <input type="text" style="width: 194px;" v-model="fomsgCode" class="form-control col-sm-7 login_input verify2" name="forgetPwd_verifyCode" id="forgetPwd_verifyCode" placeholder="请输入短信验证码">
                    <a class="btn btn-primary a_bottom" v-on:click="getfomsgCode" style="width:73px;height: 36px;margin-left: 12px;padding: 0 19px;border: 0;line-height: 35px;">获取</a>
                    <span class="login_po login_po4" style="right: -75px;"></span>
                </div>
                <div class="form-group login_css ">
                    <label for="examplepos" class="col-sm-3 login_label">设置密码：</label>
                    <input type="password" v-model="fopwd" class="form-control col-sm-7 login_input pwd1" id="examplepos" placeholder="">
                    <span class="login_po login_po5"  style="right: -115px;"></span>
                </div>
                <div class="form-group login_css ">
                    <label for="examplepos2" class="col-sm-3 login_label">确认密码：</label>
                    <input type="password" v-model="fonewpwd" class="form-control col-sm-7 login_input pwd2" id="examplepos2" placeholder="">
                    <span class="login_po login_po5" style="right: -115px;"></span>
                </div>
                <div class="form-group" style="margin-top: 38px;">
                    <button type="submit" v-on:click="fosubmit" class="col-sm-12 btn btn-primary enter2">提交</button>
                </div>
                <div class="other_href media">
                    <a href="yf_login.html" class="pull-left ">登录</a>
                    <p  class="pull-right">没有账号<a href="yf_registered.html">立即注册</a></p>
                </div>
            </div>
            <!--忘记密码 e-->

        </div>
        <!--login e-->
    </div>
</div>
<script src="ykyf_js/const.js"></script>
<script src="ykyf_js/tool.js"></script>
<script src="ykyf_js/yf_editPassword.js"></script>

</body>
</html>
