<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>微点餐</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../ykcy_images/logo.png" type="images/logo.png">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/bootstrap.min.css"  />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/font-awesome.min.css" />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/iconfont.css" />
    <link rel="stylesheet" href="../ykcy_resources/ykcy_libcss/ace.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../ykcy_css/pagination.css" />
    <link rel="stylesheet" href="../ykcy_css/couponList.css" />
    <link rel="stylesheet" href="../ykcy_css/view.css" />
    <link rel="stylesheet" href="../../resources/plugins/msgbox/msgbox.css">

    <script src="../../resources/config.js"></script>
    <script src="../../resources/plugins/msgbox/msgUtil.js"></script>
    <script src="../../resources/plugins/msgbox/msgbox.js"></script>
</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <headd></headd>
</div>


<div class="sidebar" id="sidebar" sonpage="launchList1" style="margin-top:20px;">
    <sidebar></sidebar>
</div>

<div class="main-container" id="lookPoster" style="margin-left:10%;width:80%">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
            <!-- .导航显示 -->
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="iconfont icon-shouye"></i>
                    <a href="couponList.html">优惠券</a>
                </li>
                <li>
                    <a href="#">海报制作</a>
                </li>
            </ul>

            <ul class="breadcrumb" style="margin-left:70%">
                    <li>
                        <a href="launchList.html">返回优惠券列表</a>
                    </li> 
            </ul>
        </div>


        <div class="main-container-inner" style="width:95%;margin:auto">
            
    
            
                <div class="breadcrumbs" style="width:100%;display: flex;flex-flow: row nowrap;" >
              
                   <!-- 小程序显示 -->
                    <div style="width:30%;" id="xiaochengxuView">
                        <div class="viewtop">
                            <img src="../ykcy_images/arch_img.png" alt="" class="img-responsive">
                            <span>{{posterName}}</span>
                        </div>

                        <div v-if='!isShow' class="loading">
                            <img  src="../ykcy_images/loading.gif" alt="">
                        </div>
                        
                        <div v-else class="viweBody" :style="{backgroundImage: 'url(' + wxImgUrl + ')'}">
                            <div class="cont">
                                <div class="contTop">
                                    <div v-if='wxselectList.length != 0' v-for='(item) in wxselectList' :style='wxselectList.length==1?"left:36%;top:40%":""'>
                                        <p v-if='item.couponsType==1'>¥{{(item.vouchers*0.01).toFixed(2)}}</p>
                                        <p v-else>{{item.discount}}折</p>
                                        
                                        <p v-if='item.couponsType==1'>优惠抵扣</p>
                                        <p v-else>折扣抵扣</p>
                                    </div>
                                </div>

                                <div class="contCenter">
                                    <img src="../ykcy_images/font.png" alt=""><br/>                                    
                                    <img  class="viewEwm" :src="smallroutineQrcode" >

                                </div>
                                
                                
                                <div class="contBottom">
                                    <div class="viewTitle" :style='copywrite==""?"margin-top:40px":""'>
                                        <img v-bind:src="wxBusinessLogo" alt="" class="viewlog">
                                        {{wxNickName}}
                                    </div>
                                    <div class="viewBom" v-if='copywrite!=""'>
                                        <p>
                                            {{copywrite}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 提交显示 -->
                    <div class="page-content" style="margin-left:5%">
                        <p class="topTitle">海报设置</p>
                        <div class="list">
                            <div class="left" style="text-align:right;width:42%;">
                                <p>海报名称：</p>
                            </div>

                            <div class="right" style="padding-left:0px">
                                <div>
                                    <input disabled name='searchOrder' v-model='posterName' type="text" placeholder="海报标题"/>
                                    <p style="color:#aaa">1~16个字符，支持中英文及数字</p>
                                </div>
                            </div>
                        </div>
                        


                        <div class="list">
                                <div class="left" style="text-align:right;width:42%;">
                                    <p>封面简介：</p>
                                </div>
        
                                <div class="right" style="padding-left:20px">
                                    <div>
                                        <textarea disabled name='searchOrder' v-model='introduction' type="text"></textarea>
                                        <p style="color:#aaa">通过微信分享时，会显示页面简述 
                                        </p>
                                    </div>
                                </div>
                        </div>


                        <div class="list">
                                <div class="left" style="text-align:right;width:42%;">
                                    <p>海报文案：</p>
                                </div>
        
                                <div class="right" style="padding-left:20px">
                                    <div>
                                        <textarea disabled class="form-control" rows="3" v-model='copywrite'></textarea>
                                    </div>
                                </div>
                        </div>


                        <div class="list" style="margin-top:50px">
                                <div class="left" style="text-align:right;width:42%;">
                                    <p>海报图：</p>
                                </div>
        
                                <div class="right"  style="padding-left:20px">
                                    <div class="dishes_up">
                                            <img :src="imgUrl"  id="upImg_bts03"  alt="" style="border: 1px dashed #aaa;width:100px;height:100px;"  />
                                       
                                    </div>
                                </div>
                        </div>

                        <div class="list"  style="margin-top:50px">
                        
        
                                <div class="right" style="padding-left:20px">
                                    <table class="table  table-hover">
                                        <tr >
                                            <th style="text-align:center">序号</th>
                                            <th style="text-align:center">优惠券名称</th>
                                           
                                        </tr>
                                        <tr v-for='(item,index) in wxselectList'>
                                            
                                            <td style="text-align:center">{{index}}</td>
                                            <td style="text-align:center">{{item.couponsName}}</td>
                                           
                                        </tr>
                                    </table>
                                </div>
                        </div>



                        <div style="margin:auto;width:100px;margin-top:50px">
                                <a href="listOfPosters.html"  class="btn btn-primary a_bottom" style="width:100px;">返回列表</a> 

                        </div>
                
                    </div>

            
                </div>

        </div>












   
    </div><!-- /.main-container-inner -->







</div><!-- /.main-content -->








<!--置顶图标 start-->
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
<!--置顶图标 end-->

<script src="../ykcy_resources/ykcy_lib/jquery.min.js"></script>
<script src="../ykcy_resources/ykcy_lib/bootstrap.min.js"></script>
<script src="../ykcy_resources/ykcy_lib/ace.min.js"></script>
<script src="../../resources/common/lib/vue.min.js"></script>
<script src="../../resources/common/lib/vue-resource.min.js"></script>
<script src="../../resources/common/lib/vue-router.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../ykcy_js/const.js"></script>
<script src="../ykcy_js/pagination.js"></script>
<script src="../../resources/plugins/lrz/dist/lrz.bundle.js"></script>


<!--[if lt IE 9]>
<script src="../../js/html5shiv.js"></script>
<script src="../../js/respond.min.js"></script>
<![endif]-->
<!-- <script src="../ykcy_js/joinCoupon.js"></script> -->

<script src="../ykcy_js/lookPoster.js"></script>
</body>
</html>
